.col-sm-7th {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    padding-right: 5px;
    padding-left: 5px;
}

@media (min-width: 500px) {
    .col-sm-7th {
        /* width: 14.285714%; */
        padding-right: 15px;
        padding-left: 15px;
    }
}