.day-blob {
  cursor: pointer;
  box-sizing: content-box;
  padding-top: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 20%;
  background-color: #bababb;
  margin-top: 5px;
  margin-bottom: 5px;
  /* transition: ease-in-out 0.3s; */
  box-shadow: 0 4px 0px #888888;
  /* border: solid white 1px; */
  position: relative;
}

.day-blob-filler {
  position: absolute;
  background-color: hsl(220, 70%, 50%);
  width: 101%;
  height: 101%;
  transition: top ease-in-out 0.3s;
}

.day-blob-mask {
  position: absolute;
  top: 0;
  left: 0;
  /* box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.3); */
  width: 101%;
  height: 101%;
  border-radius: 20%;
  text-align: center;
  line-height: 200%;
  color: white;
  font-size: 5vw;
}

.day-blob.active {
  right: -3.5px;
  top: -3px;
  width: 120%;
  padding-top: 120%;
}

.day-blob.active>.day-blob-mask {
  line-height: 190%;
  font-size: 6vw;
}