* {
  outline: none;
}

.day-blob {
  cursor: pointer;
  box-sizing: content-box;
  padding-top: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10%;
  background-color: #bababb;
  margin-top: 5px;
  margin-bottom: 2px;
  transition: all ease-in-out 0.15s;
  box-shadow: 0 4px 0px #888888;
  position: relative;
}

.day-blob-filler {
  position: absolute;
  background-color: #304ffe;
  width: 150%;
  height: 101%;
  transition: all ease-in-out 0.3s;
}

.day-blob-mask {
  position: absolute;
  left: 0;
  bottom: 5%;
  width: 101%;
  height: 101%;
  border-radius: 20%;
  text-align: center;
  color: white;
  font-size: 6vw;
}

.day-blob-mask.month {
  bottom: -59%;
  color: white;
  font-size: 3vw;
}

.day-blob-event {
  bottom: 5px;
  left: 5px;
  width: 20%;
  height: 20%;
  float: left;
  margin: 1px;
  border-radius: 40%;
  background-color: rgba(0, 0, 0, 0.1);
}

.day-blob.active {
  top: -10px;
  z-index: 42;
  box-shadow: 0 4px 0px #868585, 0 7px 14px rgba(50, 50, 50, 0.6);
}

.day-blob.active:active {
  top: -7px;
  z-index: 42;
  box-shadow: 0 4px 0px #868585, 0 5px 14px rgba(50, 50, 50, 0.6);
}

.jumbotron {
  transition: all ease-in-out 0.3s;
}

.event-description {
  white-space: pre-line;
  word-break: break-word;
  color: #131313;
  font-size: medium;
}

.edit-event-header-btn {
  position: absolute;
  left: 5px;
  bottom: -5px;
}

.popup-content {
  border-radius: 7px;
}

table.cars-table {
  border-spacing: 0.5em;
  margin: 1rem auto;
  border-collapse: separate;
  table-layout: auto;
}

.cars-table tr {
  height: 40px;
}

.cars-table td {
  display: flex;
  float: right;
  min-width: 30px;
  border-radius: 6px;
  border: 1px solid black;
  margin: 0 2px 0 2px;
  height: 40px;
  align-items: center;
}

.cars-table td.driver {
  min-width: 50px;
  margin-left: 10px;
  background-color: #ececec;
}

.cars-table td.driver > span {
  color: #c5c5c5;
}

.passengers-box {
  border-radius: 7px;
  padding: 10px;
  background-color: #eeeeee;
  color: #c5c5c5;
}

.passengers-box > span {
  margin: 0 3px 0 3px;
}

.col-6 {
  transition: all ease-in-out 0.15s;
}

.col-12 {
  transition: all ease-in-out 0.15s;
}

.divider {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}